[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pyaudio = "*"
pocketsphinx = "*"
wit = "*"
playsound = "*"
gtts = "*"
pyobjc = "*"
pyyaml = "*"
requests = "*"
tinytuya = "*"

[dev-packages]
pytest = "*"
toml = "*"
coverage = "*"

[requires]
python_version = "3.9"
